@using Expense_Tracker.Models.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<link rel="stylesheet" href="~/css/styles.css" />

<div class="container">
    <div class="form-title">Change Password</div>
    <form asp-action="ChangePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="error-message"></div>

        <div class="input-group">
            <input asp-for="Email" placeholder=" " readonly />
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="error-message"></span>
        </div>

        <div class="input-group">
            <input asp-for="NewPassword" type="password" placeholder=" " />
            <label asp-for="NewPassword">New Password</label>
            <span asp-validation-for="NewPassword" class="error-message"></span>
        </div>

        <div class="input-group">
            <input asp-for="ConfirmNewPassword" type="password" placeholder=" " />
            <label asp-for="ConfirmNewPassword">Confirm New Password</label>
            <span asp-validation-for="ConfirmNewPassword" class="error-message"></span>
        </div>

        <button type="submit" class="btn">Change Password</button>

        <div class="links">
            <a asp-controller="Account" asp-action="VerifyEmail" class="link">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
