@using Expense_Tracker.Models.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<link rel="stylesheet" href="~/css/styles.css" />

<div class="container">
    <div class="form-title">Login</div>

    <form asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" class="error-message"></div>

        <div class="input-group">
            <input asp-for="Email" placeholder=" " />
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="error-message"></span>
        </div>

        <div class="input-group">
            <input asp-for="Password" type="password" placeholder=" " />
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="error-message"></span>
        </div>

        <div class="form-options">
            
            <a asp-controller="Account" asp-action="VerifyEmail" class="forgot-password-link">Forgot Password?</a>
        </div>


        <button type="submit" class="btn">Login</button>

        <div class="links">
            <span>Don't have an account?</span>
            <a asp-controller="Account" asp-action="Register" class="link">Signup</a>
        </div>

    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
