@using Expense_Tracker.Models.ViewModels;
@model RegisterViewModel;

@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<link rel="stylesheet" href="~/css/styles.css" />

<div class="container">
    <div class="form-title">Sign Up</div>
    <form asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="error-message"></div>

        <div class="input-group">
            <input asp-for="Name" placeholder=" " />
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="error-message"></span>
        </div>

        <div class="input-group">
            <input asp-for="Email" placeholder=" " />
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="error-message"></span>
        </div>

        <div class="input-group">
            <input asp-for="Password" type="password" placeholder=" " />
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="error-message"></span>
        </div>

        <div class="input-group">
            <input asp-for="ConfirmPassword" type="password" placeholder=" " />
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <span asp-validation-for="ConfirmPassword" class="error-message"></span>
        </div>

        <button type="submit" class="btn">Sign Up</button>

        <p class="links">
            Already have an account? <a asp-controller="Account" asp-action="Login" class="link">Login</a>
        </p>

        <div class="links">
            <a asp-controller="Account" asp-action="Login" class="link">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
