@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-1">Welcome To Expense Tracker</h2>
    <h1 class="display-4"></h1>
    <h1 class="display-4">Track your Expenses?</h1>
    <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-secondary">Create New</a>
</div>
